Docs: https://docs.google.com/document/d/1ik3vWRjcPLC1a1UhogFIqUqhrnXg1a9upQDo8c1euSE/edit?usp=sharing    

Modules and Basic flow
 - User management 
    - SignIn/SignUp
 - Post
    - Create
    - Update
    - View 
    - Delete
